@media only screen and (max-width: 320px) {

  * {
  box-sizing: border-box;
}

body {
  background: #90D9B5;
  margin: 0 auto;
}

#primary_nav_wrap {
  margin-top:15px;
  margin-bottom: 0px;
}

#primary_nav_wrap ul {
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

#primary_nav_wrap ul a {
  display:block;
  text-decoration:none;
  font-weight:700;
  font-size:17px;
  line-height:32px;
  padding:0 15px;
}

#primary_nav_wrap ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
  z-index: 1;
}

#primary_nav_wrap ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#fff;
  padding:0;
}

#primary_nav_wrap ul ul li {
  float:none;
  width:200px;
}

#primary_nav_wrap ul ul a {
  line-height:120%;
  padding:10px 15px;
  color: black;
  font-family: 'Cardo', serif;
  font-size: 15px;
  position: relative;
}

#primary_nav_wrap ul ul ul {
  top:0;
  left:100%;
}

#primary_nav_wrap ul li:hover > ul {
  display:block;
}

#primary_nav_wrap ul li li:hover {
  background-color: #A9E6DA;
}

#map {
  height: 325px;
  width: 42%;
  float: right;
  margin-right: 15px;
  border: solid black 1px;
  border-radius: 5px;
}

h1 {
  text-transform: uppercase;
  font-family: "didot";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-right: 40px;
  padding-top: 20px;
}

.headerInfo {
  text-align: center;
  font-family: "didot";
}

nav {
  margin: 20px 0px 0px 0px;
  background-color: #3A3B3B;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}

a {
  margin-right: 55px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

p, .mainList {
  font-family: 'Cardo', serif;
}

h2, nav, h3, h4 {
  font-family: 'Bree Serif', serif;
}

.content {
  background: #F5F5F5;
  padding-top: 5px;
}

.mainH2 {
  font-size: 17px;
  border-bottom: 2px solid black;
  color: white;
  background: #3A3B3B;
  margin-top: 0px;
  padding-left: 10px;
  border-radius: 8px 8px 0px 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.aboutUs, .ourServices, .references {
  border: black 2px solid;
  margin: 5px;
  padding: 0px;
  border-radius: 10px;
  background: #C8D5D4;
}

.mainP {
  padding: 5px;
}

footer {
  background: #3A3B3B;
  color: white;
  font-family: "didot";
  font-size: 15px;
  padding: 7px;
}

}





